<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt2QVLX2GOjd4LAYZo7YkiYh_q_66HaqM</string>
	<key>GCM_SENDER_ID</key>
	<string>671867254067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gradeai.app</string>
	<key>PROJECT_ID</key>
	<string>grade-ai-b524c</string>
	<key>STORAGE_BUCKET</key>
	<string>grade-ai-b524c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671867254067:ios:8b1ed2849859017f36ba46</string>
</dict>
</plist>